version: "3.8"
services:
    mysql-test:
        image: mysql:8
        environment:
            MYSQL_ROOT_PASSWORD: password
            MYSQL_DATABASE: points_of_interest_test
        ports:
            - "3307:3306"
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
            interval: 5s
            timeout: 5s
            retries: 10
        volumes:
            - mysql-data-test:/var/lib/mysql

volumes:
    mysql-data-test:
        driver: local
